{% extends 'base.html' %}

{% block form %}
	<h2>Why Text Summarization?</h2>
	<hr>
	<p>Automatic summarization is the process of shortening a set of data computationally, 
		to create a subset (a summary) that represents the most important or relevant 
		information within the original content.
		In addition to text, images and videos can also be summarized. Text summarization 
		finds the most informative sentences in a document; image summarization finds the 
		most representative images within an image collection; video summarization extracts
		the most important frames from the video content.
		<br>
		<br>
		<a href='https://en.wikipedia.org/wiki/Automatic_summarization'>Read more ...</a>
	</p>
	<br>
{% endblock %}